[submodule "bgpcep"]
	path = bgpcep
	url = ../../bgpcep
	branch = .
[submodule "daexim"]
	path = daexim
	url = ../../daexim
	branch = .
[submodule "genius"]
	path = genius
	url = ../../genius
	branch = .
[submodule "integration/distribution"]
	path = integration/distribution
	url = ../../integration/distribution
	branch = .
[submodule "jsonrpc"]
	path = jsonrpc
	url = ../../jsonrpc
	branch = .
[submodule "lispflowmapping"]
	path = lispflowmapping
	url = ../../lispflowmapping
	branch = .
[submodule "netconf"]
	path = netconf
	url = ../../netconf
	branch = .
[submodule "neutron"]
	path = neutron
	url = ../../neutron
	branch = .
[submodule "openflowplugin"]
	path = openflowplugin
	url = ../../openflowplugin
	branch = .
[submodule "ovsdb"]
	path = ovsdb
	url = ../../ovsdb
	branch = .
[submodule "serviceutils"]
	path = serviceutils
	url = ../../serviceutils
	branch = .
