[submodule "aaa"]
	path = aaa
	url = ../../aaa
	branch = .
[submodule "controller"]
	path = controller
	url = ../../controller
	branch = .
[submodule "yangtools"]
	path = yangtools
	url = ../../yangtools
	branch = .
[submodule "netconf"]
	path = netconf
	url = ../../netconf
	branch = .
[submodule "odlparent"]
	path = odlparent
	url = ../../odlparent
	branch = .
[submodule "mdsal"]
	path = mdsal
	url = ../../mdsal
	branch = .
